@keyframes pulsate {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#giraichat,
#giraichat * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 100%;
  line-height: 1;
  text-decoration: none;
  list-style: none;
  background: transparent;
  color: inherit;
}

#giraichat {
  z-index: 99;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 30px;

  .pulsating-text {
    animation: pulsate 1.5s infinite ease-in-out;
  }

  * {
    box-sizing: border-box;
  }

  .chat {
    color: #fff;
    width: 60px;
    height: 60px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    border-radius: 10px;
    border-bottom-right-radius: 30px;

    &.open {
      background: #12182E;
      width: 400px;
      height: 80vh;

      .chatContainer {
        opacity: 1;
      }
    }

    .activator {
      cursor: pointer;
      background: radial-gradient(circle at 25% 75%,
          rgba(164, 252, 233, 1) -25%,
          rgba(52, 99, 166, 1) 45%,
          rgba(52, 99, 166, 1) 55%,
          rgba(113, 80, 244, 1) 80%);
      box-shadow:
        0 0 20px rgba(52, 99, 166, 0.1),
        -10px 15px 20px rgba(164, 252, 233, 0.25),
        10px -15px 20px rgba(113, 80, 244, 0.4);
      border-radius: 100%;
      bottom: 10px;
      right: 10px;
      position: absolute;
      display: block;
      width: 60px;
      height: 60px;
      transition: all 0.1s ease-in-out;

      svg {
        height: 70%;
        width: 70%;
        margin: 9px auto 0 auto;
        display: block;
        transition: all 0.1s ease-in-out;
      }

      &:hover {
        transform: rotate(-5deg) scale(1.15);
        box-shadow:
          0 0 20px rgba(52, 99, 166, 0.1),
          -5px 15px 20px rgba(164, 252, 233, 0.4),
          5px -15px 20px rgba(113, 80, 244, 0.4);

        svg {
          height: 80%;
          margin-top: 5px;
          width: 80%;
        }
      }
    }

    .chatContainer {
      opacity: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      padding-top: 10px;
      border-bottom-right-radius: 30px;

      .messages {
        box-sizing: border-box;
        flex-direction: column-reverse;
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        gap: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 10px;
        ;

        &::-webkit-scrollbar {
          display: none;
        }

        .messageContainer {
          box-sizing: border-box;

          border-radius: 10px;
          border-bottom-right-radius: 30px;
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
          padding: 10px 0;

          &.role-assistant {
            background: #3517AB;
            border: solid 1px rgba(255, 255, 255, 0.1);
            border-radius: 10px;
          }

          &.role-user {
            background: #181F38;
            flex-direction: row-reverse;
            border: solid 1px rgba(255, 255, 255, 0.1);
            border-radius: 10px;


            .role {
              margin-right: 10px;
            }

            .message {
              text-align: right;
              font-family: monospace;
            }
          }

          .message {
            line-height: 1.5em;
            flex-grow: 1;
            padding-left: 10px;
            word-break: break-word;

            div,
            p,
            ol,
            ul,
            li {
              line-height: inherit;
            }

            p {
              padding: 0.5em 1em;
            }

            ol, ul {
              padding: 0.5em 1em 0.5em 1.5em;
            }

            li {
              list-style-type: decimal;
              padding: 0.5em 1em;

              p {
                padding: 0;
              }
            }

            a {
              text-decoration: underline;
            }
          }

          .role {
            flex-shrink: 0;
            width: 25px;
            height: 25px;
            margin-left: 10px;
          }
        }
      }

      .inputContainer {
        min-height: 8em;
        border-top: solid 1px rgba(0, 0, 0, 0.5);
        border-bottom-right-radius: 30px;

        .input {
          line-height: 20px;
          overflow: hidden;
          border: none;
          border-top: solid 1px rgba(255, 255, 255, 0.1);
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 10px;
          resize: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background: #181F38;
          padding: 15px 65px 15px 15px;
          font-family: monospace, Helvetica, Arial, sans-serif;

          &:focus,
          &:active {
            outline: none;
          }
        }
      }
    }

  }
}